<h1>About My Playlist</h1>
<p>Created by: Justin Pinili</p>
<p>This web application was created with the help of Bloc and my mentor, Charles Lee!</p>
<p>To see the source code, visit <a href="https://github.com/justinpinili/my-playlist-app">My GitHub Account</a></p>