<div class="hero-unit">
  <h1>Playlist Sequencer</h1>
  <p>Ever wanted to share a playlist in order from start to finish? Playlist Sequencer allows you to create a playlist that can be accessible to anyone with internet connection! Post, Favorite, and Comment with your friends and family</p>
  <p>
      <% if current_user.nil? %>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
      <% end %>
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>No need to upload songs!</h2>
    <p>Songs can be found on YouTube or Soundcloud, so everyone will have access to the tunes you choose.</p>
  </div>
  <div class="span4">
    <h2>Feedback galore!</h2>
    <p>People can comment on your current playlist order to give you suggestions/opinions/tips/advice.</p>
  </div>
  <div class="span4">
    <h2>Public or private!</h2>
    <p>You can choose whether or not you want your Playlist Sequence open for everyone, or for only your close friends.</p>
  </div>
</div>