<h1>New Playlist</h1>

<div class="row">
  <div class="span4">
    <p>Guidelines for new playlist:</p>
    <ul>
      <li>Make sure content is appropriate.</li>
      <li>Add a title of your playlist.</li>
      <li>Add a body description of what your playlist is about.</li>
      <li>Add an image if you'd like!</li>
    </ul>
  </div>
  <div class="span8">
    <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
  </div>
</div>