@import "bootstrap-custom";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.row {
  margin-left: 5px;
}

div {
  margin-bottom: 5px;
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.voted {
  opacity: 0.5
}