<h1>Edit Playlist</h1>
<div class="row">
  <div class="span4">
    <p>Guidelines for new playlists:</p>
    <ul>
      <li>Make sure every order value is unique.</li>
    </ul>
  </div>
  <div class="span8">
    <%= render partial: 'form', locals: { topic: @topic, post: @post, playlist: @playlist } %>
  </div>
</div>