<h1>Add New Song</h1>

<div class="row">
  <div class="span4">
    <p>Guidelines for new song:</p>
    <ul>
      <li>Make the URL is a valid Soundcloud URL.</li>
    </ul>
  </div>
  <div class="span8">
    <%= render partial: 'form', locals: { topic: @topic, post: @post, playlist: @playlist } %>
  </div>
</div>